@font-face {
  font-family: myFont;
  src: url(../../../public/assets/fonts/vtks.ttf);
}

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 25px;
  margin-bottom: 20px;
}

.scheduleTitle {
  text-align: center;
  font-size: 80px;
  color: rgb(251, 112, 62);
  font-family: myFont;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */
}

.scheduleContent {
  width: 60%;
  display: flex;
  background-color: rgba(209, 100, 60, 0.15);
  box-shadow: 1px 1px 5px 3px rgba(251, 112, 62, 0.3);

  border-radius: 15px;
  margin-bottom: 40px;
}
.scheduleContent:last-child {
  margin-bottom: 0px;
}

.scheduleContentDate {
  color: rgb(251, 112, 62);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scheduleContentDateCont {
  font-size: 30px;
  color: cream;
  padding: 0;
  margin: 10px;
}

.scheduleContentDetails {
  margin: 5px;
  color: rgba(0, 0, 0, 0.925);
  color: white;
}

.scheduleContentDetailsTitle {
  /* margin: 12px 0 0 0; */
  padding: 0;
  font-size: 24px;
}

.scheduleContentDetailsDesc {
  /* margin: 0 0 10px 0; */
  padding: 0;
  font-size: 18px;
}
@media (max-width: 768px) {
  .scheduleContent {
    width: 75%;
  }
  .scheduleTitle {
    font-size: 60px;
  }
  .schedule {
    padding-top: 25px;
    margin-bottom: 20px;
  }
}
