@font-face {
  font-family: myFont;
  src: url(../../../public/assets/fonts/vtks.ttf);
}
.wrap-domain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  margin-bottom: 5px;
}

.container {
  display: flex;
}

.domainHeading {
  /* font-weight: bold; */
  font-size: 70px !important;
  color: rgb(162, 185, 255);
  font-family: myFont;
}

.eventBoxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;
  gap: 2.8rem;
}
.eventCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin: 0 20px;
}
.eventButtons {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.eventbt {
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: rgb(45, 0, 75);
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
}
.eventbt:nth-child(1) {
  margin-left: 0px;
}
.eventLogo {
  width: 270px;
  height: 270px;
  object-fit: cover;
  /* border: 1px solid rgb(45, 0, 75); */
  border-radius: 15px 0 0 15px;
  /* margin: 0 20px 20px 0; */
}
.eventBox {
  background-color: rgb(21, 14, 38);
  /* background-color: rgb(36, 24, 65); */
  /* box-shadow: 1px 1px 5px 3px rgba(251, 112, 62, 0.3); */
  width: 60vw;
  border-radius: 15px;
  margin: 0;
  border: 1px solid rgb(189, 162, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}
.about1 {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 12px 18px;
}
.about11 {
  border: 1px solid rgb(189, 162, 255);
  background-color: rgb(21, 14, 38);
}
.eventName {
  padding: 0;
  margin: 10px 0 5px 0;
  font-size: 22px;
  text-align: left;
  color: rgb(189, 162, 255);
  margin: 10px 0;
}
.eventDesc {
  padding: 0;
  margin: 15px 0 15px 0;
  font-size: 15px;
  color: white;
  text-align: left;
}

.event1 {
  /* background-color: rgb(36, 24, 65); */
  /* box-shadow: 1px 1px 5px 3px rgba(251, 112, 62, 0.3); */
  width: 60vw;
  border-radius: 15px;
  /* margin: 0 60px 60px 0; */
  display: flex;
  margin-bottom: 2.8rem;
  /* border: 1px solid rgb(189, 162, 255); */
}
.eventd1 {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-content: center;
}
.eventd1.eventdetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(189, 162, 255);
  border-radius: 10px;
}
.edet {
  border: 1px solid rgb(189, 162, 255);
  border-radius: 10px;
  padding: 12px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.eventHead {
  font-size: 18px;
  text-align: center;
  font-size: 22px;
  text-align: left;
  color: rgb(189, 162, 255);
  padding: 0;
  margin: 0;
}
.eventDe {
  text-align: center;
  font-size: 15px;
  color: white;
  padding: 0;
  margin: 0;
  margin: 8px 0 0 0;
}
.eventdeFooter {
  display: flex;
  justify-content: space-between;
}
.arrow {
  color: rgb(189, 162, 255);
  font-size: 32px;
  /* text-align: bottom; */
  align-self: flex-end;
  cursor: pointer;
}
.event2 {
  border-top: 1px solid rgb(189, 162, 255, 0.7);
  /* margin-top: 18px; */
  padding-top: 28px;
}
.eventd2 {
  margin: 22px 34px;
}
.eventd2.h5,
.eventd2.p {
  margin: 0;
  padding: 0;
}
.event1{
  margin-bottom: 0px;
}
@media (max-width: 768px) {
  .eventBox {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrap-domain {
    width: 100%;
    padding-top: 70px;
    margin-bottom: 5px;
  }

  .eventBoxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .event1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .eventd1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* justify-content: space-around; */
    align-content: center;
  }
  .edet {
    border: 1px solid rgb(189, 162, 255);
    border-radius: 10px;
    padding: 12px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 16px;
    width: auto;
  }
  .eventLogo {
    width: 270px;
    height: 270px;
    object-fit: cover;
    /* border: 1px solid rgb(45, 0, 75); */
    border-radius: 15px 0 0 15px;
    /* margin: 0 20px 20px 0; */
  }
  .eventdeFooter {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
  }
  .arrow {
    color: rgb(189, 162, 255);
    font-size: 32px;
    /* text-align: bottom; */
    align-self: center;
    cursor: pointer;
  }
  .eventBox {
    margin: 0 0 0 0;
    width: 270px;
  }
  .eventBoxes {
    gap: 2.8rem;
  }
  .event1{
    margin-bottom: 0px;
  }
}