@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Press+Start+2P&family=Ubuntu&display=swap');


.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.headingCont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}


.eventlogo{
    width: 50%;
    height: 150px;
    object-fit: cover;
}


.timerContainer{
    column-gap: 2.8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.headingCont{
    display: flex;
}
.heading1{
    font-family: 'Oswald', sans-serif;
font-family: 'Press Start 2P', system-ui;
font-size: 125PX;
opacity: 1;
transform: translateX(0%) translateZ(0px);
color: rgb(255, 255, 255);

}
.heading2{
    font-family: 'Oswald', sans-serif;
font-family: 'Press Start 2P', system-ui;
font-size: 125PX;
opacity: 1;
transform: translateX(0%) translateZ(0px);
color: rgb(231, 180, 11);

}

.slogan{
    font-family: 'Oswald', sans-serif;
font-family: 'Press Start 2P', system-ui;
font-weight: bold;
color: wheat;
margin: 40px 0 60px 0;
}
.timerCont{
    width: 120px;
    height: 100px;
    background-color: antiquewhite;
    border-radius: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timerTime{
    font-family: 'Oswald', sans-serif;
font-family: 'Press Start 2P', system-ui;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 28px;
}
.timerHead{
    font-family: 'Oswald', sans-serif;
font-family: 'Press Start 2P', system-ui;
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

.apply-button{
    height: 44px;
    width: 312px;
}