@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Press+Start+2P&family=Ubuntu&display=swap");

.wrap-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* padding-top: 70px; */
  margin-bottom: 20px;
}

.headingCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-bottom: 5%;
} /*
@keyframes myfirst {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}*/

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-1.1deg, -1.5deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(1.4deg, 0.5deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-0.4deg, -1.8deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(1deg, 1.6deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-3.8px, -4.8px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-6.8px, -3.8px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-6.8px, -2.8px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-3.8px, -7.8px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(3.6px, 4.6px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(6.6px, 3.6px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(6.6px, 2.6px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(3.6px, 7.6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
.eventlogo {
  width: 700px;
  height: 150px;
  position: absolute;
  object-fit: cover;
  align-self: center;
  animation: glitch1 2.5s infinite;
}

.eventlogo:nth-child(2) {
  animation: glitch2 2.5s infinite;
  align-self: center;
}

.eventlogo:nth-child(3) {
  animation: glitch3 2.5s infinite;
  align-self: center;
}

@keyframes zoomm {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.timerContainer {
  column-gap: 2.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: zoomm 4s;

  transition: transform 0.5s;
}
.headingCont {
  display: flex;
}
.heading1 {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-size: 125px;
  opacity: 1;
  transform: translateX(0%) translateZ(0px);
  color: rgb(255, 255, 255);
}
.heading2 {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-size: 125px;
  opacity: 1;
  transform: translateX(0%) translateZ(0px);
  color: rgb(231, 180, 11);
} /*
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 54%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}*/
.slogan {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-weight: bold;
  color: wheat;
  margin: 3%;
  text-shadow:
    5px 2px #222324,
    2px 4px #222324,
    3px 5px #222324;
  overflow: hidden;
  /* border-right: 0.15em solid orange;*/
  white-space: nowrap;

  animation: zoomm 4s;
  /*
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;*/
}

.timerCont {
  width: 120px;
  height: 100px;
  background-color: antiquewhite;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerTime {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 28px;
}
.timerHead {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.apply-button {
  height: 44px;
  width: 312px;
}

.registerButton {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: black;
  background-color: rgb(251, 112, 62);
  border-radius: 20px; /* Adjust the border-radius to your preference */
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px 1px rgb(251, 112, 62);
  animation: zoomm 4s;
}

.registerContainer {
  margin-top: 45px;
  width: 260px;
  height: 50px;
}

@media (max-width: 768px) {
  @media (max-width: 410px) {
    .slogan {
      font-size: 24px;
    }
  }
  .wrap-timer {
    min-width: 100%;
    align-items: center;
    padding-top: 70px;
    margin-bottom: 20px;
  }
  .eventlogo {
    position: absolute;
    top: 80px;
    z-index: -1;
    width: 100%;
  }
  .slogan {
    text-align: center;
    margin: 0 0 30px 0;

    font-size: 24px;
    width: 90%;
    overflow-wrap: break-word;
    white-space: normal;
    position: absolute;
    top: 250px;
    z-index: -1;
  }

  .timerContainer {
    position: absolute;
    top: 300px;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 90%;
    z-index: -1;
    margin-top: 30px;
  }
  .registerContainer {
    position: absolute;
    top: 500px;
    z-index: -1;
    margin-top: 80px;
  }
}
