@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Press+Start+2P&family=Ubuntu&display=swap");

@keyframes rotateVertical {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/* Apply the animation to your element */
.animleft {
  animation: rotateVertical 2s infinite; /* Adjust the duration as needed */
}
.wrap-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  /* padding-top: 70px; */
  margin-bottom: 20px;
  cursor: url("../../../public/assets/cursor.png"), auto;
  margin-top: 70px;
}

.headingCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 5%;
}
.startingSlogan {
  width: 60%;
  font-family: myFont;
  color: rgb(207, 193, 189);
  font-size: 24px;
  margin: 50px 15px 40px 15px;
  text-align: center;
  animation: zoomm 4s;
}

.registerContainer1 {
  margin-top: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-1.1deg, -1.5deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(1.4deg, 0.5deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-0.4deg, -1.8deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(1deg, 1.6deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-3.8px, -4.8px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-6.8px, -3.8px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-6.8px, -2.8px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-3.8px, -7.8px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(3.6px, 4.6px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(6.6px, 3.6px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(6.6px, 2.6px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(3.6px, 7.6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
.eventlogo {
  width: 700px;
  height: 150px;
  position: absolute;
  object-fit: cover;
  align-self: center;
  animation: glitch1 2.5s infinite;
  margin: 0;
}
.headingCont {
  display: flex;
  justify-content: safe;
}
.eventbeside {
  width: 117px;
  height: 150px;
  object-fit: cover;
  margin-left: 600px;
}
.a1 {
  width: 117px;
  height: 150px;
  object-fit: cover;
  /* margin-right: 600px; */
}

.eventlogo:nth-child(2) {
  animation: glitch2 2.5s infinite;
  align-self: center;
}

.eventlogo:nth-child(3) {
  animation: glitch3 2.5s infinite;
  align-self: center;
}

@keyframes zoomm {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.timerContainer {
  column-gap: 2.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation: zoomm 4s;
  color: rgb(193, 171, 243);
  transition: transform 0.5s;
}
.headingCont {
  display: flex;
}
.heading1 {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-size: 125px;
  opacity: 1;
  transform: translateX(0%) translateZ(0px);
  color: rgb(255, 255, 255);
}
.heading2 {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-size: 125px;
  opacity: 1;
  transform: translateX(0%) translateZ(0px);
  color: rgb(231, 180, 11);
}
.slogan {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-weight: bold;
  color: #93d8fa;
  /* color: wheat; */
  margin: 24px 24px 50px 24px;
  text-shadow:
    5px 2px #222324,
    2px 4px #222324,
    3px 5px #222324;
  overflow: hidden;
  /* border-right: 0.15em solid orange;*/
  white-space: nowrap;

  animation: zoomm 4s;
  /*
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;*/
}
partii:hover {
  cursor: url("../../../public/assets/cursor.png"), auto;
}
.timerCont {
  width: 120px;
  height: 100px;
  /* background-color: antiquewhite; */
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(121, 9, 116);
  background: linear-gradient(
    180deg,
    rgba(121, 9, 116, 1) 50%,
    rgba(0, 0, 0, 1) 100%
  );
}

.timerTime {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 28px;
}
.timerHead {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.apply-button {
  height: 44px;
  width: 312px;
}

.b1,
.b2 {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-weight: bold;
  font-size: 15px;
  color: rgb(199, 180, 244);
  /* background-color: rgb(49, 23, 110); */
  padding: 10px;
  /* width: 100%;
  height: 100%; */
  /* box-shadow: 1px 1px 5px 1px rgb(136, 8, 187); */
  animation: zoomm 4s;
  width: 260px;
  height: 50px;
}

.b1 {
  margin: 20px 0;
}
.b2 {
  margin: 0;
}
@media (max-width: 768px) {
  .eventlogo {
    width: 700px;
    height: 150px;
    object-fit: cover;
    align-self: center;
    animation: glitch1 2.5s infinite;
    margin-top: 80px;
  }

  .slogan {
    font-size: 24px;
    line-height: 1.6;
  }
  .startingSlogan {
    width: 60%;
    font-family: myFont;
    color: rgb(207, 193, 189);
    font-size: 24px;
    margin: 100px 15px 40px 15px;
    text-align: center;
    animation: zoomm 4s;
  }

  .wrap-timer {
    width: 100%;
    /* min-height: 100vh; */
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

  .eventlogo {
    width: 100%;
    height: 150px;
  }

  .slogan {
    text-align: center;
    margin: 60px;
    margin-top: 80px !important;
    font-size: 24px;
    width: 100%;
    overflow-wrap: break-word;
    white-space: normal;
  }

  .timerContainer {
    flex-wrap: wrap;
    gap: 10px;
    max-width: 90%;
    margin-bottom: 10px;
  }

  .registerContainer {
    margin-top: 20px;
  }
}
.wrap-timer {
  cursor: url("../../../public/assets/cursor.png"), auto !important;
}
@import url("https://fonts.googleapis.com/css?family=Raleway:400");

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}

/* body {
	font-family: Raleway, sans-serif;
	text-align: center;
	margin: 0;
	padding: 1rem;
	background-color: rgba(10, 12, 18, 1);
	color: white;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
} */

p {
  margin: 0;
}
.box p{
  color: #93d8fa;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: rgba(168, 239, 255, 1);
  --c2: rgba(168, 239, 255, 0.1);
}

.wrapper {
  height: 50px;
}
.wrapper {
  margin-top: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
}

.box {
  /* font-size: 3vw;
	margin: max(1rem, 3vw); */
  border: 4px solid;
  border-radius: 10px;
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-weight: bold;
  font-size: 15px;
  color: rgb(199, 180, 244);
  cursor: pointer;
  /* background-color: rgb(49, 23, 110); */
  padding: 4px;
  text-align: center;
  /* width: 100%;
  height: 100%; */
  /* box-shadow: 1px 1px 5px 1px rgb(136, 8, 187); */
  animation: zoomm 4s;
  width: 260px;
  height: 50px;
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  border-radius: 10px;
  animation: borderRotate var(--d) linear infinite forwards;
}
.box p {
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

.box a {
  text-decoration: none;
  cursor: pointer;
}

.box:nth-child(2) {
  border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30;
  animation: borderRadial var(--d) linear infinite forwards;
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}

@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}