@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Press+Start+2P&family=Ubuntu&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.headingCont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
@keyframes myfirst {
  0% {
    top: -40px;
    opacity: 0;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.eventlogo {
  width: 700px;
  height: 150px;
  position: relative;
  object-fit: cover;
  animation: myfirst 5s;
}

.timerContainer {
  column-gap: 2.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.headingCont {
  display: flex;
}
.heading1 {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-size: 125px;
  opacity: 1;
  transform: translateX(0%) translateZ(0px);
  color: rgb(255, 255, 255);
}
.heading2 {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-size: 125px;
  opacity: 1;
  transform: translateX(0%) translateZ(0px);
  color: rgb(231, 180, 11);
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 54%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
.slogan {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  font-weight: bold;
  color: wheat;
  margin: 5%;
  text-shadow:
    5px 2px #222324,
    2px 4px #222324,
    3px 5px #222324;
  overflow: hidden;
  /* border-right: 0.15em solid orange;*/
  white-space: nowrap;

  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

.timerCont {
  width: 120px;
  height: 100px;
  background-color: antiquewhite;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timerTime {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 28px;
}
.timerHead {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.apply-button {
  height: 44px;
  width: 312px;
}

.registerButton {
  font-family: "Oswald", sans-serif;
  font-family: "Press Start 2P", system-ui;
  border: none;
  font-weight: bold;
  font-size: 15px;
  color: black;
  background-color: rgb(251, 112, 62);
  border-radius: 20px; /* Adjust the border-radius to your preference */
  padding: 10px;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px 1px rgb(251, 112, 62);
}

.registerContainer {
  margin-top: 45px;
  width: 260px;
  height: 50px;
}
