.logoImg {
  height: 60px;
  width: 230px;
  object-fit: cover;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: rgba(44, 39, 39, 0.963);
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 3;
}

.navLinks {
  text-decoration: none;
}

.container {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px 0 80px;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navLinks {
  color: white;
  font-size: 18px;
  margin-left: 30px;
}
.navLinks:hover {
  color: rgb(251, 112, 62);
}
.menu-btn {
  display: none;
}
.sidebar {
  display: none;
}
.sidebar li {
  list-style-type: none;
  color: white;
}
.close-btn {
  display: none;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
  }
  .navLinks {
    display: none;
  }
  .menu-btn {
    display: flex;
  }
  .close-btn {
    display: flex;
  }
  .container {
    width: 100%;
    background-color: rgba(44, 39, 39, 0.963);
    margin-right: 0;
  }
  .navList {
    align-items: flex-end;
  }

  .sidebar {
    margin-top: 0px;
    color: white;
    font-size: 18px;
    font-size: 18px;
    margin-left: 30px;
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(44, 39, 39, 0.963);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    z-index: 100;
  }
  .sidebar li {
    margin: 20px 0 0 20px;

    margin: 0;
  }
  .sidebar li {
    margin-top: 15px;
    margin-left: 10px;
  }
  .sideLinks {
    text-decoration: none;
    color: white;
  }
  .svg {
    margin-right: 25px;
  }
}
