.logoImg {
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin: 0 25px 0 25px;
}
.logoScrolled {
  height: 50px;
  width: 90px;
  object-fit: cover;
  margin-top: 5px;
  margin: 5px 12px 0 12px;
}

.navbar {
  height: 60px;
  width: 100%;

  /* justify-content: space-between; */
  background-color: rgba(30, 0, 46, 0.1);
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 3;
}

.navLinks {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
ul {
  padding: 0;
  margin: 0;
}
.container {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  /* margin: 0 80px 0 80px; */
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  height: 60px;
}
/* Your existing styles for the navbar */

/* Add a style for the scrolled state */
.navList.scrolled {
  background-color: rgba(21, 14, 38, 0.963);
  /* Add other styles as needed */
}

.navLinks {
  color: white;
  font-size: 18px;
  margin-left: 0px;
  margin: 0 20px 0 20px;
}
li:nth-child(1) {
  margin-left: 0px;
}
li:nth-child(7) {
  margin-right: 0px;
}
li:nth-child(4) {
  margin: 0px;
}

.navLinks:hover {
  color: rgb(76, 1, 74);
}
.showSidebar {
  display: none;
}
.sidebar {
  display: none;
}

@media (max-width: 768px) {
  .container {
    margin-left: 0;
  }
  .navLinks {
    display: none;
  }
  .showSidebar {
    display: flex;
    position: fixed;
    right: 0px;
    margin-right: 25px;
  }
  .close-btn {
    display: flex;
  }
  .container {
    width: 100%;
    background-color: rgba(21, 14, 38, 0.963);
    margin-right: 0;
  }

  .sidebar {
    margin-top: 0px;
    color: white;
    font-size: 18px;
    font-size: 18px;
    margin-left: 30px;
    list-style-type: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: rgba(21, 14, 38, 0.963);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    z-index: 100;
  }
  .sidebar li {
    margin: 20px 0 0 20px;

    margin: 0;
  }
  .sidebar li {
    margin-top: 15px;
    margin-left: 10px;
  }
  .sideLinks {
    text-decoration: none;
    color: white;
  }
  svg {
    margin-right: 25px;
  }
  .eventlogo {
    margin-top: 0px;
  }
  .startingSlogan {
    margin-top: 0px;
  }
}