.footer-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}
.copyright {
  color: antiquewhite;
  font-size: 14px;
  margin: 15px 0;
  text-align: center;
}
.text {
  text-align: center;
}
.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 25px;
}
.footerone {
  color: antiquewhite;
  width: 40%;
}
.footertwo {
  color: aliceblue;
  /* width: 30%; */
  padding: 20px;
}
.footerthree {
  color: aliceblue;
  /* width: 30%; */
  padding: 20px;
}
ul,
li {
  color: aliceblue;
  list-style: none;
}

@media (max-width: 768px) {
  ul,
  li {
    color: aliceblue;
    list-style: none;
    text-align: center;
  }
  .footer-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
  .footer2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footerone {
    color: antiquewhite;
    width: 90%;
    text-align: center;
  }
  .footertwo {
    color: aliceblue;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
  }
  .footerthree {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    width: 90%;
    /* width: 30%; */
    padding: 20px;
  }
}