.wrap-about-us {
  width: 100%;
  padding-top: 70px;
  margin-bottom: 20px;
}
.eventContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto 0 auto;
}

.eventSection {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 112, 62, 0.1);
  border-radius: 10px;

  box-shadow: 1px 1px 5px 3px rgba(251, 112, 62, 0.3);
  margin-right: 20px; /* Add margin to the right of each eventSection */
}

.eventSection:last-child {
  margin-right: 0; /* Remove margin from the last eventSection */
}

.eventHeading {
  font-weight: bold;
  font-size: 20px;
  color: rgb(251, 112, 62);
}

.eventPara {
  padding: 0 12px;
  margin: 0;
  font-size: 16px;
  color: white;
}

.eventLocationImage {
  width: 410px;
  height: 100%;
  object-fit: cover; /* Adjusted to contain instead of cover */
  border-radius: 10px;
  opacity: 0.7; /* Adjust the opacity if needed */
}

.eventLocationAnchor {
  margin: 0;
  padding: 0;
  height: 150px; /* Set the desired height */
  /* width: auto; */
  overflow: hidden; /* Hide any overflow to maintain container height */
  margin: 0 0 15px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 3px rgba(251, 112, 62, 0.3);
}

.timingCont {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  font-size: 18px;
  /* padding: 0 15px; */
  position: relative;
  left: 10px;
  right: 15px;
}

.timingCont:last-child {
  left: -13px;
}

.timingText {
  color: white;
  font-size: 16px;
}

.icon {
  margin-right: 10px !important;
  color: white !important;
  font-size: 700 !important;
}

.aboutUs {
  display: flex;
  width: 90%;
  height: 275px;
  color: white;
  margin: 20px auto 0 auto;
}

.aboutContent {
  /* flex: 4; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(251, 112, 62, 0.1);
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;

  box-shadow: 1px 1px 5px 3px rgba(251, 112, 62, 0.3);
  /* margin-left: 30px; */
}
.aboutHeading {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding: 0;

  color: rgb(251, 112, 62);
}
.aboutContent {
  padding: 0 12px 0 12px;
  margin: 0;
  font-size: 16px;
}
.aboutUsImage {
  /* width: 60%; */
  /* flex: 6; */
  width: 300px;
  height: 275px;
  object-fit: contain;
  border-radius: 10px;
  /* opacity: 0.7; */
  margin-left: 10px;
  animation: logo 5s linear infinite;
}

@keyframes logo {
  0% {
    transform: rotateY(0deg) scale(1);
    opacity: 1.5;
  }
  50% {
    transform: rotateY(180deg) scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(360deg) scale(1);
    opacity: 1.2;
  }
}

@media (max-width: 768px) {
  .wrap-about-us {
    width: 100%;
    padding-top: 70px;
    margin-bottom: 20px;
  }
  .eventContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto 270px auto;
  }
  .eventSection {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    height: max-content;
  }
  .aboutUs {
    flex-direction: column-reverse;
    margin: 0 auto 0 auto;
  }
  .aboutUsImage {
    width: 100%;
    height: 100%;
    margin: 0 0 70px 0;
  }
  .eventPara {
    padding: 12px;
    font-size: 16px;
  }
  .eventLocationImage {
    width: 100%;
  }
}
