.wrap-about-us {
  padding-top: 70px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: myFont;
  src: url(../../../public/assets/fonts/vtks.ttf);
}
.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.eventHeading {
  font-size: 70px !important;
  color: rgb(162, 185, 255);
  font-family: myFont;
}
.about11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 10px;
}
.eventPara {
  padding: 0 12px;
  margin: 0;
  font-size: 14px;
  color: white;
}

.aboutHeading {
  font-weight: bold;
  font-size: 28px;
  margin: 0;
  padding: 0;
  padding: 10px 0;

  color: rgb(189, 162, 255);
}
.aboutContent {
  padding: 0 14px 16px 14px;
  margin: 0;
  font-size: 16px;
  color: white;
}
.aboutUsImage {
  /* width: 60%; */
  /* flex: 6; */
  width: 400px;
  height: 325px;
  object-fit: contain;
  border-radius: 10px;
  /* opacity: 0.7; */
  /* margin-left: 10px; */
  /* scale: 1.5; */
  /* animation: logo 5s linear infinite; */
}

@keyframes logo {
  0% {
    transform: rotateY(0deg) scale(1);
    opacity: 1.5;
  }
  50% {
    transform: rotateY(180deg) scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: rotateY(360deg) scale(1);
    opacity: 1.2;
  }
}

@media (max-width: 768px) {
  .wrap-about-us {
    width: 100%;
    padding-top: 70px;
    margin-bottom: 20px;
  }
  .eventContainer {
    display: flex;
    flex-direction: column;
    margin: 0 auto 270px auto;
  }
  .aboutContainer {
    display: flex;
    flex-direction: column;
  }
  .eventSection {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    height: max-content;
  }
  .aboutUs {
    flex-direction: column-reverse;
    margin: 0 auto 0 auto;
  }
  .about11 {
    width: 200px;
  }
}
