@font-face {
  font-family: myFont;
  src: url(../../../public/assets/fonts/vtks.ttf);
}
.wrap-sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 70px;
  margin-bottom: 20px;
}

.container {
  display: flex;
}

.domainHeading {
  /* font-weight: bold; */
  font-size: 80px;
  color: rgb(251, 112, 62);
  font-family: myFont;
}

.titleSponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 60%;
  margin-top: 50px;
}

.logo {
  max-height: 125px;
  width: auto;
  object-fit: cover;
  margin: 0 90px 50px 0;
}

@media (max-width: 768px) {
  .wrap-sponsors {
    max-width: 100%;
    padding-top: 70px;
    margin-bottom: 20px;
  }
  .titleSponsors {
    justify-content: center;
  }
  .logo {
    margin: 0 0 15px 0;
    object-fit: cover;
  }
  .domainHeading {
    font-size: 60px;
  }
  .polygon,
  .aptos {
    width: 95%;
  }
}
