/* App.css or your stylesheet */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; /* Make sure the video is behind other content */
  }
 